* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
.row{
    margin-right: 0;
    margin-left: 0;

}
.top-bar {
    height: 120px ;
    background-color: #fcfcfc;
    border-bottom: 1px solid #eee;
    padding-top: 5px;
    
}
.logo {
    margin-left: 50%;
}
.form-control { 
    width:500px;

}
#search{
    background-image: url(img/iconsearch.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 5%;
}
i.fas.fa-chevron-down {
    padding-top: 10px;
    padding-left: 50px;
}
.rounded-circle {
    width: 45px;
    height: 45px;
}
.username {
    margin: 0px 0px;
}
#username {
    color:#32323d;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
}
#username:hover {
    color:rgb(154, 76, 226);
}
#inf4 {
    color: #aaaaaa;
    text-decoration: none;
}
.dropdown {
    margin: 0px;
    padding: 0px;
    background-color: #fcfcfc;
}
.dropdown a:hover {
    color: rgb(66, 14, 114);
}
.dropdown .show{
    top: 20px !important;
    left: -160px !important;
    min-width: 220px;
}
#header {
    margin-top: 10px;
}
#drop {
    display: flex;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 50px;
    width: 400px;
}
a.dropdown-item {
    padding-left: 2px;
    color: #5e5e66;
    margin: 10px;
}
i.fas.fa-toggle-on {
    float: right;
}
.center {
    border-top: 1px solid #dbdbdb;
}
a.btn.btn-warning {
   margin: 10px 0px 0px 45px;
}
a.btn.btn-warning:hover {
 color:  rgb(66, 14, 114);
 background-color: #fcfcfc;
 border-color: #ebebf1 ;
}
ul.list-group.list-group-horizontal {
    margin-top: 5px;
}
.list-group-item.menu-top-bar {
    border: none;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    background-color: #fcfcfc;
    padding-left: 10px;
    padding-right: 10px;
}
.list-group-item.menu-top-bar a{
    color: #464650;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    text-decoration: none;
    text-align: left;
    
}
.list-group-item.menu-top-bar a:hover {
    color:  #6e55b4 ;
    border-bottom: 2px solid #6e55b4 ;
    padding: 0px 0px 18px 0px;
}
.list-group-item.menu-top-bar a:active {
    color:  #6e55b4 ;
}
#trangchu {
    margin-left: 10%;
    padding-left: 20px;
    padding-right: 20px;
}
button.btn.vip {
    background-color: #ffae00;
    border-radius: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: white;
}
​.dropbtn.tb {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content.top-bar-menu {
    display: none;
    position: absolute;
    background-color: #fcfcfc;
    z-index: 1;
    top: 40px;
    padding-left: 10px;
  }
  
.dropdown-content.top-bar-menu a {
    color: rgb(78, 76, 76);
    padding: 12px 0px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
.dropdown-content.top-bar-menu a:hover {
      background-color: #ddd;
}
.dropdown:hover .dropdown-content.top-bar-menu {display: block;}
div.col-md-3.cl-md-3{
    padding-left: 20px;
    text-align: left;
}
div.col-md-3.cl-md-3 a:hover {
    padding: 10px;
    color:  #6e55b4 ;
    border-bottom: 2px solid #6e55b4 ;
}
.nhaccanhan {
    display: flex ;
    border-bottom: 1px solid rgb(37, 32, 32);
    border-bottom-style: dotted;
    padding: 10px;
}
a:hover.nhaccanhan{
    display: flex ;
    border-bottom: 1px solid rgb(37, 32, 32);
    border-bottom-style: dotted;
    padding: 20px 10px 10px 10px;
    background-color: white;
}
a.nhaccanhan span {
    padding-top: 10px;
}
button.btn.btn-light {
    background-color: white;
    color: #492e94;
    border: none;
    width: 100%;
}
.dropdown-content.top-bar-menu.nhaccn {
    background-color: white;
}
.dropdown-content.top-bar-menu.nhaccn a:hover {
    padding: 12px 0px;
    background-color: white;
    border-bottom: 1px solid rgb(37, 32, 32);
    border-bottom-style: dotted;
}
.content-bar {
    background-color: #fcfcfc;
}
.carousel-inner img {
    height: 50%;
    width: 1015px;
    margin-bottom: 20px;
}
.list-group.list-group-horizontal.carousel {
    margin-top:0px ;
}
.dropdown-content.menucarousel {
    top: 265px;
    left: 680px;
}
.list-group-item.menu-carousel {
    border: none;
    background-color:initial;
    padding: 5px;
}
.dropdown-content.menucarousel {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}
.list-group-item.menu-carousel a:hover {
    border: 2px solid white;
}
.dropdown-content.menucarousel a {
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content.menucarousel {
    display: block;
}

.dropdown.contentbar {
    margin-left: 155px;
}
.category {
    margin-left: 154px;
    margin-bottom: 20px;
}
.category a {
    text-decoration: none;
    color: #32323d;
    font-size: 25px;
}
.category i {
    float: right;
    margin: 20px;
}
.list-group-item.menu-category {
    border: none;
    padding: 0px 20px 0px 0px;
    background-color: initial;
}
.list-group-item.menu-category a:hover {
    opacity: 0.3;
}
.category a.content-img-category {
    text-decoration: none;
    color: #32323d;
    font-size: 15px;
}
.list-group-item.menu-category a.content-img-category:hover {
    color: #6e55b4;
    opacity: 1;
}
.chevron {
    margin-right: 165px;
}
  .dropdown-content.xyz {
    display: none;
    position: absolute;
    z-index: 1;
    top: 61px;
    right: 45px;
    font-size: 50px;
}
.dropdown-content.xyz i {
    text-decoration: none;
    display: block;
    color: white;
}
.dropdown.abc:hover .dropdown-content.xyz {
    display: block;
    
}
.dropdown-content.xyz i:hover {background-color:initial;}