*{
    margin: 0px;
    padding: 0px;
}
#layout {
    width: 500px;
    height: 500px;
    align-content: center;
    margin: auto;
    color: white;
}
#header {
    width: 100%;
    height: 20%;
    background-color: orange;
}
#content-left {
    width: 33%;
    height:60%;
    background-color: green;
    float: left;
}
#content {
    width: 33%;
    height:60%;
    background-color: red;
    float: left;

}
#content-right {
    width: 34%;
    height:60%;
    background-color:blue;
    float: left;
}
#footer {
    clear: both;
    width: 100%;
    height:20%;
    background-color: orange;
}
#bai3{
    width: 1000px;
    height: 1000px;
    align-content: center;
    margin: auto;
}
h1{
    text-align: center;
}
#col{
    height:20%;
    clear: both;
    margin: 20px;  
    border-bottom: 1px solid #504444;
}
img{
    width: 20%;
    height: 25%;
    border-radius:15%;
    float: left;
}
#tieude{
    margin: 10px;
    width: 75%;
    float: left;
    color: orange;
}
#noidung{
    margin: 10px;
    width: 75%;
    float: left;
}

